**Celda para importar librerias**

In [96]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

***Importaci√≥n de data sets no tomar en cuenta***

In [97]:
df_solicitudes = pd.read_csv("Base_SolicitudesCreditoEfectivo_201307_201505.csv", sep = ";")
df_rcc = pd.read_csv ('RCC_202206.csv', sep = ",")
df1 = df_solicitudes[['CODSOLICITUD','DEUDA','PLAZO_CREDITO','SEGMENTOCLIENTE']]
df2 = df_solicitudes[['CODMES','CODSOLICITUD','FLG_GARANTIA','MIN_MES_DE_DEFAULT','FLG_DEFAULT_12M','TARJETA_RELACIONADA','VEHICULAR_RELACIONADA','HIPOTECARIO_RELACIONADA','ATRASO_MAXIMO_ULT_6M','ATRASO_MAXIMO_ULT_12M','ATRASO_MAXIMO_ULT_24M','MESES_AHORROS_ULT_6M','MEDIANA_AHORROS_ULT_6M','DEUDA_TOTAL_SISTEMA','CLASIF_SISTEMA_ULT_12M','FLG_PDH','NUMERO_DE_PAGOS_PDH','MONTO_TC_SISTEMA','INGRESO_CLIENTE','PROFESION','ZONA_DEL_DESEMBOLSO','ESTADO_CIVIL','EDAD_T','CUOTA','LINEA_DE_TC','MONTO_TC_MEMBRESIA','FLG_TC_VISA','FLG_TC_MC']]

In [98]:
df1.head()

   CODSOLICITUD         DEUDA  PLAZO_CREDITO           SEGMENTOCLIENTE
0             1   7116.681318             48              CLIENTES ORO
1             2   1616.555000             60              CLIENTES ORO
2             3   8082.775000             48              CLIENTES ORO
3             4  10186.990760             48              CLIENTES ORO
4             5  10777.033330             48  CLIENTES PLATINUM SEGM 2

In [99]:
df2.head()

,CODMES,CODSOLICITUD,FLG_GARANTIA,MIN_MES_DE_DEFAULT,FLG_DEFAULT_12M,TARJETA_RELACIONADA,VEHICULAR_RELACIONADA,HIPOTECARIO_RELACIONADA,ATRASO_MAXIMO_ULT_6M,ATRASO_MAXIMO_ULT_12M,...,INGRESO_CLIENTE,PROFESION,ZONA_DEL_DESEMBOLSO,ESTADO_CIVIL,EDAD_T,CUOTA,LINEA_DE_TC,MONTO_TC_MEMBRESIA,FLG_TC_VISA,FLG_TC_MC
0,201402,1,0,NaN,0,1,0,0,0,0.0,...,2526.246600,INGENIERO,UCAYALI,SOL,26.0,236.983971,5600.0,170.0,0.0,0.0
1,201404,2,0,NaN,0,1,0,0,0,0.0,...,2895.761372,TECNICO,AREQUIPA,CAS,49.0,62.089650,19250.0,170.0,0.0,0.0
2,201403,3,0,NaN,0,1,0,0,0,0.0,...,1474.419056,INGENIERO DE MINAS,PUNO,SOL,33.0,22.894893,10900.0,80.0,0.0,0.0
3,201307,4,0,201403.0,1,0,0,0,0,0.0,...,1992.756892,TECNICO,CUZCO,SOL,25.0,244.267800,10900.0,80.0,0.0,0.0
4,201401,5,0,NaN,0,1,0,0,0,0.0,...,1680.938223,TEC MECANICO AUTOMOTRIZ,LIMA_ESTE,CAS,57.0,17.430000,16300.0,170.0,0.0,0.0

In [100]:
df_rcc.head()

,codsbs,tipcreditosbs,codempsistemafinancierodeuda,codctacontablesbs,codmoneda,tipcondiciondiamorosidad,mtodeudasol,tipclasifriesgoempsistemafinan,codrubroicc,codmes
0,69947689,10,104,14110206020000,1,0.0,12248.70,0,4,202201
1,69947689,10,108,14180200000000,1,0.0,219.90,0,0,202201
2,69947689,10,108,14110206020000,1,0.0,17011.65,0,4,202201
3,69947689,10,108,84140900000000,1,0.0,9180.00,0,42,202201
4,69947689,10,104,29110101000000,1,0.0,160.57,0,0,202201

In [101]:
df_solicitudes.head()

,CODMES,CODSOLICITUD,DEUDA,PLAZO_CREDITO,FLG_GARANTIA,MIN_MES_DE_DEFAULT,FLG_DEFAULT_12M,SEGMENTOCLIENTE,TARJETA_RELACIONADA,VEHICULAR_RELACIONADA,...,INGRESO_CLIENTE,PROFESION,ZONA_DEL_DESEMBOLSO,ESTADO_CIVIL,EDAD_T,CUOTA,LINEA_DE_TC,MONTO_TC_MEMBRESIA,FLG_TC_VISA,FLG_TC_MC
0,201402,1,7116.681318,48,0,NaN,0,CLIENTES ORO,1,0,...,2526.246600,INGENIERO,UCAYALI,SOL,26.0,236.983971,5600.0,170.0,0.0,0.0
1,201404,2,1616.555000,60,0,NaN,0,CLIENTES ORO,1,0,...,2895.761372,TECNICO,AREQUIPA,CAS,49.0,62.089650,19250.0,170.0,0.0,0.0
2,201403,3,8082.775000,48,0,NaN,0,CLIENTES ORO,1,0,...,1474.419056,INGENIERO DE MINAS,PUNO,SOL,33.0,22.894893,10900.0,80.0,0.0,0.0
3,201307,4,10186.990760,48,0,201403.0,1,CLIENTES ORO,0,0,...,1992.756892,TECNICO,CUZCO,SOL,25.0,244.267800,10900.0,80.0,0.0,0.0
4,201401,5,10777.033330,48,0,NaN,0,CLIENTES PLATINUM SEGM 2,1,0,...,1680.938223,TEC MECANICO AUTOMOTRIZ,LIMA_ESTE,CAS,57.0,17.430000,16300.0,170.0,0.0,0.0

# Pregunta 1
***En el archivo de google colab se encuentran importadas 3 data sets: df1, df2 y df_RCC. En este sentido se requiere que el postulante muestre la informaci√≥n de cada data frame (Columna, numero de datos, condicion de nulidad y Dtype)***

In [102]:
def dato(tabla):
    print('------------------------------')
    tabla.info()
    print('------------------------------')
    print('')
    
dato(df1)

------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31944 entries, 0 to 31943
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CODSOLICITUD     31944 non-null  int64
 1   DEUDA            31944 non-null  float64
 2   PLAZO_CREDITO    31944 non-null  int64
 3   SEGMENTOCLIENTE  31944 non-null  object
dtypes: float64(1), int64(2), object(1)
memory usage: 998.4+ KB
------------------------------

In [103]:
dato(df2)

------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31944 entries, 0 to 31943
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   CODMES                   31944 non-null  int64
 1   CODSOLICITUD             31944 non-null  int64
 2   FLG_GARANTIA             31944 non-null  int64
 3   MIN_MES_DE_DEFAULT       3449 non-null   float64
 4   FLG_DEFAULT_12M          31944 non-null  int64
 5   TARJETA_RELACIONADA      31944 non-null  int64
 6   VEHICULAR_RELACIONADA    31944 non-null  int64
 7   HIPOTECARIO_RELACIONADA  31944 non-null  int64
 8   ATRASO_MAXIMO_ULT_6M     31944 non-null  int64
 9   ATRASO_MAXIMO_ULT_12M    31941 non-null  float64
 10  ATRASO_MAXIMO_ULT_24M    31937 non-null  float64
 11  MESES_AHORROS_ULT_6M     31266 non-null  float64
 12  MEDIANA_AHORROS_ULT_6M   31942 non-null  float64
 13  DEUDA_TOTAL_SISTEMA      28763 non-null  float64
 14  CLASIF_SISTEMA_ULT_12M   30277 non-null  float64
 15  FLG_PDH                  31944 non-null  int64
 16  NUMERO_DE_PAGOS_PDH      31944 non-null  int64
 17  MONTO_TC_SISTEMA         31944 non-null  float64
 18  INGRESO_CLIENTE          31166 non-null  float64
 19  PROFESION                31604 non-null  object
 20  ZONA_DEL_DESEMBOLSO      30954 non-null  object
 21  ESTADO_CIVIL             30954 non-null  object
 22  EDAD_T                   30954 non-null  float64
 23  CUOTA                    31294 non-null  float64
 24  LINEA_DE_TC              31294 non-null  float64
 25  MONTO_TC_MEMBRESIA       31294 non-null  float64
 26  FLG_TC_VISA              31294 non-null  float64
 27  FLG_TC_MC                31294 non-null  float64
dtypes: float64(15), int64(10), object(3)
memory usage: 6.8+ MB
------------------------------

In [104]:
dato(df_rcc)

------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23537 entries, 0 to 23536
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   codsbs                          23537 non-null  int64
 1   tipcreditosbs                   23537 non-null  int64
 2   codempsistemafinancierodeuda    23537 non-null  int64
 3   codctacontablesbs               23537 non-null  int64
 4   codmoneda                       23537 non-null  int64
 5   tipcondiciondiamorosidad        23537 non-null  float64
 6   mtodeudasol                     23537 non-null  float64
 7   tipclasifriesgoempsistemafinan  23537 non-null  int64
 8   codrubroicc                     23537 non-null  int64
 9   codmes                          23537 non-null  int64
dtypes: float64(2), int64(8)
memory usage: 1.8 MB
------------------------------

# Pregunta 2
***Los data frame df1 y df2 son parte de un data frame llamado df_solicitudes, el postulante debe generar ese data frame a traves de la uni√≥n de estos dos data frame donde la columna para efectuar la relaci√≥n entre ambos es "CODSOLICITUD" y que solo debe tomarse las columnas "CODMES", "DEUDA_TOTAL_SISTEMA", "CLASIF_SISTEMA_ULT_12M" del data frame df2***

In [105]:
# Reordenar las columnas de df2 para que "CODSOLICITUD" est√© en la misma posici√≥n que en df1
columnas_df2 = ['CODMES','CODSOLICITUD', 'DEUDA_TOTAL_SISTEMA', 'CLASIF_SISTEMA_ULT_12M']
# Unir df1 y df2 en base a la columna "CODSOLICITUD" y seleccionar solo las columnas deseadas de df2
df_solicitudes_new = pd.merge(df1, df2[columnas_df2], on='CODSOLICITUD', how='inner')
df_solicitudes_new.head()

,CODSOLICITUD,DEUDA,PLAZO_CREDITO,SEGMENTOCLIENTE,CODMES,DEUDA_TOTAL_SISTEMA,CLASIF_SISTEMA_ULT_12M
0,1,7116.681318,48,CLIENTES ORO,201402,5450.35,0.0
1,2,1616.555000,60,CLIENTES ORO,201404,0.00,0.0
2,3,8082.775000,48,CLIENTES ORO,201403,0.00,0.0
3,4,10186.990760,48,CLIENTES ORO,201307,5661.25,0.0
4,5,10777.033330,48,CLIENTES PLATINUM SEGM 2,201401,0.00,0.0

# Pregunta 3
***Del data frame generado anteriormente "df_solicitudes" se desea crear un nuevo data frame llamado df_sol_oro donde las solicitudes que se encuentren en el nuevo data frame sean se "SEGMENTOCLIENTE":"CLIENTES ORO", su "DEUDA" sea mayor a 5,000 soles y sean del periodo ("CODMES") Febrero 2015.***

In [106]:
df_solicitudes_new['CODMES']=pd.to_datetime(df_solicitudes_new['CODMES'],format='%Y%m')
df_solicitudes_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31944 entries, 0 to 31943
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CODSOLICITUD            31944 non-null  int64
 1   DEUDA                   31944 non-null  float64
 2   PLAZO_CREDITO           31944 non-null  int64
 3   SEGMENTOCLIENTE         31944 non-null  object
 4   CODMES                  31944 non-null  datetime64[ns]
 5   DEUDA_TOTAL_SISTEMA     28763 non-null  float64
 6   CLASIF_SISTEMA_ULT_12M  30277 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 1.7+ MB

In [109]:
df_sol_oro=df_solicitudes_new[(df_solicitudes_new['SEGMENTOCLIENTE']=='CLIENTES ORO') &
                              (df_solicitudes_new['DEUDA']>5000) & 
                              (df_solicitudes_new['CODMES']>='2015-02-01') &
                              (df_solicitudes_new['CODMES']<'2015-03-01')]
df_sol_oro.head()

,CODSOLICITUD,DEUDA,PLAZO_CREDITO,SEGMENTOCLIENTE,CODMES,DEUDA_TOTAL_SISTEMA,CLASIF_SISTEMA_ULT_12M
24128,24129,9596.940000,60,CLIENTES ORO,2015-02-01,4486.75,0.0
24148,24149,7997.450000,36,CLIENTES ORO,2015-02-01,24202.71,0.0
24150,24151,9834.197683,48,CLIENTES ORO,2015-02-01,9543.96,4.0
24153,24154,6664.541667,48,CLIENTES ORO,2015-02-01,NaN,NaN
24184,24185,13800.932880,60,CLIENTES ORO,2015-02-01,3947.25,0.0

# Pregunta 4
***Se desea conocer el numero de clientes (codsbs) y la cantidad de empresas del sistema financiero (codempsistemafinancierodeuda) que se encuentran en el data frame df_rcc.***

# Pregunta 5
***Del data frame df_rcc se desea conocer la minimo y maxima deuda (mtodeudasol) de los clientes con codsbs igual a 69947689, 20687860, 95403760 se solicita al postulante generar un codigo para ello.***

# Pregunta 6
***Del data frame df_rcc se desea graficar el total de deuda agregada (mtodeudasol) por mes (periodo) para el cliente con codsbs igual a 59544489, ademas se desea agregar una linea que represente la media, otra llamada limite 1 que represente la media mas el 0.8 de la desviaci√≥n estandar y otra linea llamada limite 2 que represente la media mas el 1.2 de la desviaci√≥n estandar. Tal como se muestra en la imagen***

![imagen1.png]()